// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start

// darkPrimary: #303c42
// darkOrange: #f57c00;
// peachAccent: #ff8a65
// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'
$theme := {
  primary: $blue-grey.darken-4
  accent: $blue.accent-2
  secondary: $grey.darken-3
  info: $blue.base
  warning: $amber.base
  error: $red.base
  success: $green.base
}
