// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start


// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'
$theme := {
  primary: $blue.darken-2
  accent: $blue.accent-2
  secondary: $grey.darken-3
  info: $blue.base
  warning: $amber.base
  error: $red.base
  success: $green.base
}
