.page-enter-active, .page-leave-active {
  transition: opacity .35s ease;
}
.page-enter, .page-leave-active {
  opacity: 0
}

.list-complete-item {
  transition: all .34s ease;
  display: inline-block;
  margin-right: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1em 0;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}
